*{
    box-sizing: border-box;
    
}


body{
    margin: 0 ;
font-family: sans-serif;
overflow-x: hidden;
height: 170rem;
}

img{
    max-width: 100%;
}

header{
    color: white;
    background-color: rgba(155, 27, 138, 0.534);
    position: fixed;
    width: 100%;
    z-index: 100;

}

.header__container

{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width :1400px;
    margin: 0 auto;
    padding: 0 1rem;
    /* border: 2px solid blue; */
}


.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    /* border: 2px solid red; */
    

}
.nav a{
    text-decoration: none;
    color:  white;
    transition: 00.3s;
    text-transform: capitalize;
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: 20px;
    
}
.nav i {
    font-size: 1.4rem;
}
.nav a:hover{
background-color: white;
color: rgba(155, 27, 138, 0.934);
}
.photo{
    background-image: url("https://egypt.didiglobal.com/wp-content/uploads/sites/32/2021/04/rider_main_page_01-2.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;

    justify-content: center;
    
}

.photo__content{
    min-width: 1100px;
    padding: 0 1rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.photo__content h1{
    font-size: 2.5rem;
}

@media(max-width:700px){
    .photo__content h1{
        font-size: 2rem;
        width: 30%;
    }

}


.photo__button{
    font-size: 2rem;
    color: white;
    padding: 25px;
    border-radius: 10px;
    background-color: hsl(308, 70%, 36%);
    border: none;
    transition: .3s;
    margin-top: 60px;
}
.photo__button:hover {
    background-color: hsl(308, 70%, 30%);
    transform: scale(1.5);
}

.details{
display: flex;
flex-wrap: wrap;
max-width: 1100px;
margin: 5rem auto;
align-items:  center;
gap: 1rem;
padding: 0 1rem;
}
.details__contents{
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    gap: 1rem;
justify-content: center;


}
.details__img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.details__img img {
    height: 100%;
}
.details__card {
    width: 250px;
    
display: flex;
align-items: flex-end;
flex-direction: column;

}
.details__card i {
font-size: 4rem;
background-color: rgb(155, 27, 138);
color: white;
border-radius: 50%;
padding: 15px;
}
.details__card h4 {
font-size: 30px;
margin: 1rem 0 0;
direction: rtl;

}
.details__card p {
    font-size: 20px;
direction: rtl;
}
@media (max-width: 1050px) {
    .details {
        flex-direction: column;
    }
    .details__contents {
        align-items: baseline;
    }
    .details__card{
        align-items: center;
        justify-content: center;
    }
    .details__img {
        flex: none;
    }
}

.express {
background-color: rgba(155, 27, 138, 0.2);
padding: 20px 0;


}
.express__content {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    border: 5px solid red;
    margin: 2rem auto;
    max-width: 1100px;
    align-items: center;
    padding: 0rem 1rem;
    


}
.express > h1 {
text-align: center;
}
.express__img{
    width: 500px;
    height: 500px;
    border: 2px solid red;
    
    
}
.express__img img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    transform: rotateY(180deg);
}
.express__text h1{
    direction: rtl;
}


.contact{
display: flex;
justify-content: center;
/* padding: 2rem; */
border: 2px solid rgb(155, 27, 138);
max-width: 700px;
margin: 2rem auto;
}
.contact h1 {
    flex: 1;
    text-align: center;
    padding: 3rem;
}

.contact__us{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
padding: 1rem 3rem;
border-left: 2px solid gray;
background-color: rgba(155, 27, 138, 0.7);
color: white;
}
.contact__us a {
    text-decoration: none;
    color: blanchedalmond;
}
.contact__us a:hover {
    text-decoration: underline;
}
.contact__us i {
    font-size: 2rem;
    color: white;
}


.btn{
    width: 100%;
    padding: 4rem;
    background-color:hsl(308, 71%, 45%); 
    color: white;
    font-size: 2rem ;
    border: none;
    transition: 0.3s;
    border-radius: 20%;
    
}
.btn:hover{
    background-color:hsl(308, 71%, 25%); 

}


footer{
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    padding: 0 2rem ;
    border: 4px solid blue;
    height:50rem;
}

.footer__icon {
   
    max-width: 25rem;
    border: 4px solid red;
}
.footer__icon h3{
    margin-left: 2rem;
    padding: 0.5rem  1rem;
    font-size: 25px;
    border: 4px solid rgb(158, 29, 119);
    max-width: 7rem ;
    color: rgb(158, 29, 119);;
}
.footer__icon a {
    font-size: 3rem;
    padding-left: 2rem;
    text-decoration: none;
   
}
.footer__icon a :hover{
color: rgba(151, 38, 136, 0.934);
}

.footer__items {
    display: flex;
    justify-content: space-around;
    height: 30%;
    
}

.footer__company{

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 4px solid red;
    
}
.footer__company a {
    text-decoration: none;
    
}

.footer__products{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 4px solid red;
    
    
}

.footer__products a {
    text-decoration: none;
}