/* ===============
    header
================ */

header{
    color: white;
    background-color: var(--first-clr-alt);
    position: fixed;
    width: 100%;
    z-index: 100;

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width :1400px;
    margin: 0 auto;
    padding: 0 1rem;
    /* border: 2px solid blue; */
}

.header__container h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}


.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
    /* border: 2px solid red; */
    

}
.nav a{
    text-decoration: none;
    color:  white;
    transition: 0.3s;
    text-transform: capitalize;
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: 20px;
    
}
.nav i {
    font-size: 1.4rem;
}
.nav a:hover{
background-color: white;
color: var(--first-clr);
}

/* Hero Section */
.photo{
    background-image: url("https://ubernewsroomapi.10upcdn.com/wp-content/uploads/2022/05/2048X1152_3_2-2-1080x540.png");
    /* height: 100vh; */
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    color: white;    
    justify-content: center;
}

.photo__content{
    width: 100%;
    height: 100vh;
    padding: 5rem 1rem;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.photo__content h1{
    font-size: 2.5rem;
    margin: 0;
}
.photo__content p {
    margin: 0;
}

.photo__button{
    margin: 0;
    font-size: 2rem;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: var(--first-clr);
    border: none;
    transition: .3s;
}
.photo__button:hover {
    background-color: var(--first-clr);
    transform: scale(1.1);
}
@media(max-width:900px){
    .photo__content h1{
        font-size: 2rem;
    }
    .photo__content {
        height: 60vh;
        gap: 0;
    }
    /* .photo {
        background-size: contain;
        background-repeat: no-repeat;
    } */
    .photo__button{
        font-size: 1rem;
    }
    

}



/* ===============
   footer
================ */

footer{
    margin-top: 3rem;
    background-color: var(--first-clr);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Up & Down Section */
.f__logo{
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    padding: 5px 10px;
    font-size: 45px;
    align-self: flex-start;
}

.up__section{border-bottom: 1px solid #fff;}

.up__section, .down__section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}

.up__section   ul,
.down__section ul
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0 20px;
}
.up__section   ul li,
.down__section ul li {
    padding: .5rem 0;

}
.up__section   h1,
.down__section h1
{
    color: #ffffff;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.up__section   ul a,
.down__section ul a
{
    font-size: 18px;
    color: #ddd;
    transition: .3s;
    
}

.up__section   ul a:hover,
.down__section ul a:hover
{
    color: white;
    text-decoration: underline;

}

.down__section ul p{
    font-size: 16px;
    color: #ddd;
    margin: 0;
}


.social__icons{display: flex;}

.social__icons a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--first-clr);
    transition: .3s;
    font-size: 2rem;
    padding: 1.5rem;
}

.social__icons a:hover{
   background-color:var(--first-clr-alt);
   color: white;

}

.search input{
    height: 35px;
    width: 200px;
    padding: 0 10px;
    border: none;
    outline: none;
}

.copyright{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #b3b3b3;
}

@media (max-width: 1024px){
    .search{
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .search h1{margin: 20px;}
}

@media (max-width: 720px){
    .f__logo{
        font-size: 35px;
        align-self: center;
        border: 1px solid #545562;
    }

    .up__section,
    .down__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .up__section   ul h1,
    .down__section ul h1,
    .social h1{
        font-size: 22px;
        text-align: center;
    }
    .up__section   ul li,
    .down__section ul li{
        text-align: center;
        margin: 10px;
    }
}
